/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';
/* 3rd-party */
@import '/css/3rd-party/font-awesome.min.css';
/* components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';
/* CUSTOM STYLE BELOW THIS COMMENT LINE */
.bg-primary {
  background-color: var(--primary-colour);
}
.bg-secondary {
  background-color: var(--secondary-colour);
}
/* hero content */
.hero {
  min-height: 100vh;
  text-align: center;
  background-image: url(../img/widecomingsoon.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero .logo {
  height: 40px;
  margin-bottom: 40px;
}
.hero .main-title {
  margin-bottom: 20px;
  font-size: 70px;
  text-transform: uppercase;
}
.hero .main-description {
  margin-bottom: 40px;
  font-size: 25px;
  color: #555;
}
.hero .clock {
  margin-bottom: 40px;
}
.hero .form {
  margin-bottom: 20px;
}

/* main content */
main .left-column {
  width: 50%;
  float: left;
}

main .right-column {
  width: 40%;
  float: right;
}

main .section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

main .section-description {
  margin-bottom: 20px;
  color: #555;
  font-size: 18px;
  line-height: 25px;
}

main .section-description > a {
  color: var(--secondary-colour);
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}
main .section-description > a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  main .left-column {
    width: 100%;
    margin-bottom: 80px;
  }

  main .right-column {
    width: 100%;
  }
}

footer.container {
  padding-top: 0;
  text-align: center;
  color: #fffc;
  font-size: 18px;
  line-height: 30px;
}

.socials {
  padding: 15px 0;
  border-bottom: 1px solid #fff;
}
.socials > a {
  width: 40px;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  font-size: 22px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s;
}
.socials > a:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.footer-logo {
  margin: 30px 0;
}
.footer-trio {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}
.footer-trio > .item {
}
.footer-description {
}
footer a {
  color: #fff;
}

@media (max-width: 640px) {
  .footer-trio {
    flex-direction: column;
  }
}