/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';
/* 3rd-party */
/* components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';
/* CUSTOM STYLE BELOW THIS COMMENT LINE */
.bg-primary {
  background-color: var(--primary-colour);
}
.bg-secondary {
  background-color: var(--secondary-colour);
}
/* hero content */
.hero {
  min-height: 100vh;
  text-align: center;
  background-image: url(../img/widecomingsoon.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero .logo {
  height: 40px;
  margin-bottom: 40px;
}
.hero .main-title {
  margin-bottom: 20px;
  font-size: 70px;
  text-transform: uppercase;
}
.hero .main-description {
  margin-bottom: 40px;
  font-size: 25px;
  color: #555;
}
.hero .clock {
  margin-bottom: 40px;
}
.hero .form {
  margin-bottom: 20px;
}

/* main content */
main .left-column {
  width: 50%;
  float: left;
}

main .right-column {
  width: 40%;
  float: right;
}

main .section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

main .section-description {
  margin-bottom: 20px;
  color: #555;
  font-size: 18px;
  line-height: 25px;
}

main .section-description > a {
  color: var(--secondary-colour);
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}
main .section-description > a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  main .left-column {
    width: 100%;
    margin-bottom: 80px;
  }

  main .right-column {
    width: 100%;
  }
}

